---
layout: default
---


<!-- this is the body, This is where all of your page content goes -->

<body>

    <!------------------- header banner ------------------------->

    <header class="padded-t-0 padded grid-middle tall-60">
        
        {% include header-nav.html %}

        <div class="col-12-middle text-center">
            <h3 class="font-weight-extra-bold editable">
               why<span class="featured-text"> wait</span> 
            </h3>
            <h1 class="font-weight-normal editable"> one call away from a perfect nights sleep </h1>
        </div>
    </header>

    <!------------------------------features section --------------------------------------------->
<section class="grid">
    <div class="padded col-6_xs-12-middle">
        <h2> bult to last a <span class="featured-text">lifetime</span></h2>
        <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis consectetur expedita ullam maxime
            sunt ipsam eum eligendi amet, officiis quam nam suscipit facilis officia praesentium repellendus vitae
            fugit non accusantium?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique fuga facilis nam. Ut perferendis
            similique cupiditate ab molestiae facilis modi sapiente, laborum velit, quibusdam impedit nulla tempore!
            Adipisci, ratione necessitatibus.</p>
    </div>
    <div class="bg-image bg-bed col-6_xs-12-middle tall-70 hide-xs">
        <!-- back ground image bed -->
    </div>
</section>

<!-- column grid -->
<section class="padded grid-center bg-light">
    <div class="padded-sm col-12 text-center">
        <h2> need help deciding </h2>
    </div>
    <div class="padded-sm col-3_xs-12 editbale">
        <i class="fa-solid fa-cloud"></i>
        <p class="editable"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime dolor nulla inventore?
            Quas necessitatibus.</p>
    </div>
    <div class="padded-sm col-3_xs-12 editbale">
        <i class="fa-solid fa-cloud"></i>
        <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime dolor nulla inventore? Quas
            necessitatibus.</p>
    </div>
    <div class="padded-sm col-3_xs-12 edtable">
        <i class="fa-solid fa-cloud"></i>
        <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime dolor nulla inventore? Quas
            necessitatibus.</p>
    </div>
    

</section>

    <!----------------------------- form section ---------------------->

    <section class="grid bg-dark light-text padded">
        <div class="col-6 padded">
            <h2> Let's  <span class="featured-text">connect</span></h2>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem reprehenderit dolorum, quaerat assumenda a, sequi officiis similique rerum iure qui repudiandae.</p>
        </div>
        <div class="col-6 padded">

        <form>
            <input type="text" name="_name" placeholder="Your Name">
            <input type="email" name="_replyto" placeholder="Your Email">
            <textarea name="message" placeholder="Tell us what you want..." rows="4"></textarea>
            <button class="button" type="submit">SUBMIT</button>
        </form>

        </div>
    </section>


<!------------------------------------ testimonial section ------------------------------->

{% include testimonial.html %}



    