---
layout: default
gallery:
 - column-size: col-6
   aspect-ratio: square 
   background-image: /images/the-slee-co-lamp\ \(2\).jpg
 - column-size: col-6
   aspect-ratio: square 
   background-image: images/the-slee-co-pug(4).jpg
 - column-size: col-12
   aspect-ratio: landscape 
   background-image: /images/the-slee-co-pillow\ \(1\).jpg
 - column-size: col-4
   aspect-ratio: square 
   background-image: /images/the-slee-co-pug\ \(4\).jpg
 - column-size: col-4
   aspect-ratio: square 
   background-image: images/the-slee-co-pug(4).jpg
 - column-size: col-4
   aspect-ratio: square 
   background-image: /images/the-slee-co-pillow\ \(1\).jpg
---
<div class="grid col-12">
    <div class=" logo col-5_sm-11 sm-text-center sm-padded-0">
        <a href="/index.html" class="logo">
            <h2> The Sleep Co </h2>
        </a>
    </div>
    <nav class="col-7_sm-12 text-right sm-text-center hide-sm">
        <a href="index.html"> Home </a>
        <a href="about.html"> About </a>
        <a href="products.html"> Products </a>
        <a href="gallery.html"> Gallery </a>
        <a href="contact.html"> Contact </a>
    </nav>

    <div class="col-1 show-sm">
        <div class="hamburger-button">
            <i class="fa-solid fa-bars"></i>
        </div>
    </div>

</div>

<nav class="mobile-menu bg-featured padded">
    <a href="index.html"> Home </a>
    <a href="about.html"> About </a>
    <a href="products.html"> Products </a>
    <a href="gallery.html"> Gallery </a>
    <a href="contact.html"> Contact </a>
</nav>

<header class="grid tall-100 md-tall-80">

    {% include header-nav.html %}

    <div class="col-12 text-center">
        <h3 class="font-weight-extra-bold editable" data-aos="fade-in" data-aos-duration="1000">
            <span class="featured-text"> See it </span> to believe it
        </h3>
        <h1 class="font-weight-normal editable" data-aos="fade-up" data-aos-delay="500"> the ultimate mattress solution
        </h1>
    </div>
</header>


<section class="padded">

    <div class="gallery grid">
        {% for item in page.gallery %}
        <div class="{{item.column-size}}">
            <div class="bg-image {{item.aspect-ratio}}" 
                 style=" background-image: url('{{item.background-image}}');">
            </div>
        </div>
        {% endfor %}

        <!-- <div class="gallery grid">
            <div class="col-6">
                <div class="bg-image square bg-img-1"></div>
            </div>
            <div class="col-6">
                <div class="bg-image square bg-img-2 bg-pos-b"></div>
            </div>
            <div class="col-4_xs-12">
                <div class="bg-image portrait-tall bg-img-3"></div>
            </div>
            <div class="col-4_xs-12">
                <div class="bg-image portrait-tall bg-img-4"></div>
            </div>
            <div class="col-4_xs-12">
                <div class="bg-image portrait-tall"></div>
            </div>
            <div class="col-12">
                <div class="bg-image landscape bg-img-5 "></div>
            </div> -->
</section>