<div class="grid col-12">
    <div class=" logo col-5_sm-12 sm-text-center sm-padded-0">
        <a href="/index.html" class="logo">
        <h2> The<span class="featured-text">Sleep</span>Co. </h2>
        </a>
    </div>
<nav class=" col-7_sm-12 text-right sm-text-center sm-padded-b-0">
        <a href="index.html" class="col-3 padded-sm"> Home </a>
        <a href="about.html" class="col-3 padded-sm"> About </a>
        <a href="products.html" class="col-3 padded-sm"> Products </a>
        <a href="contact.html" class="col-3 padded-sm"> Contact </a>
    </nav>
    
</di