<!---------------- FOOTER  ------------------>
<footer class="padded grid-spaceBetween bg-dark">
    <div class="col-4-bottom">
        <h2 class="editabe"> Let's <br /> <span class="featured-text">connect</span></h2>
        <p class="editable"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas doloribus
            necessitatibus tempore ut repellat sint itaque sequi soluta quaerat hic, corporis culpa facilis mollitia
            voluptatum modi in eveniet officiis nostrum? </p>
    </div>
    <div class="col-5-bottom editable">
        <p> <strong>Call</strong> <a href="tel:#">123-3456</a></p>
        <p>
            <stong>Email:</stong> <a href="mailto#:">hello@sleep.co</a>
        </p>
        <p> <strong>Store:</strong> 55 main st, chicago</p>
        <p> <strong>Instagram:</strong><a href="https://www.instagram.com/thesleepco#"> @thesleepco </a></p>
    </div>
</footer> 